.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.heading {
  font-size: 21px;
  padding: 10px;
  padding-bottom: 10px;
  
  color: #03129b;
  width: 100%;
  
}
.handle-styling {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
  padding-bottom: 20px;
  justify-items: flex-start;
}
.heading2 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 17px;
  width: 100%;
  color: #0f1236;
  
}
.text1 {
  color: #242424;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: regular;
}
.text2 {
  padding:2px 5px;
  margin-left: 8px;
}
.alert-theme {
  font-size: 14px;
  color: #2f6800;
  padding-top: 5px;
}
@media screen and (max-width: 650px) {
  .handle-styling {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr 1fr 1fr;
    row-gap: 10px;
  }
}