body {
  overflow-x: hidden;
  background-color:#fffefe ;
}
:root {
  --cue-background: #6860606e;
  --cue-color: black;
  --cue-font: 16px "Fira Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
